/*****      Setting Pages Css Starts        *****/

.setting_page_s  label.col-form-label.lf_s {
    display: inline-block;
    width: 25%;
}
.setting_page_s span.m-form__help.lf_s {
    display: inline-block;
    width: 25%;
    color: #535358;    
}
.setting_page_s .m-radio-inline {
    display: inline-block;
}

.setting_page_s {
    color: #535358;
}
.setting_page_s .m-widget11 {
    padding: 10px 25px 15px;
    border-bottom: 1px solid #eeeff6;    
}
.m-widget11.ct_block_tm .col-form-label {
    display: block;
}
.setting_page_s label.col-form-label {
    font-family: 'OpenSans-Bold';
    color: #535358;
}
.setting_page_s span.m-form__help {
    display: block;
    padding-bottom: 10px;
}
.setting_page_s .m-radio>span{
    width: 20px; 
    height: 20px;
    border: 1px solid #293c5e;
}
.setting_page_s .m-radio{
    color: #535358;
}
.setting_page_s .m-radio>span:after{
    width: 10px; 
    height: 10px;
    top: 40%;
    left: 40%;    
    border: solid #293c5e;
    background:#293c5e;
}
/*.setting_page_s label.col-form-label {
    display: block;
}*/
.m-widget11.ct_block_tm span {
    padding-left: 10px;
    color: #535358;    
}
.ct_block_tm input[type="text"] {
    margin-bottom: 00px;
    width: 84px;    
}
.setting_page_s .m-widget11.s_c_btn{
    margin-top: 25px;
    padding-bottom: 30px;
    border-bottom: 0;
    display: table;
    margin-left: auto;
    font-weight: 400;
}
.m-widget11.s_c_btn a.cancel_btn {
    border: 1px solid #eaecf1;
    padding: 10px 15px;
    border-radius: 5px;
    color: #293c5e;
}

.m-widget11.s_c_btn a.save_btn {
    padding: 10px 15px;
    background: #293c5e;
    color: #fff;
    border-radius: 5px; 
    margin-left: 10px;
}
/*****      Setting Pages Css Ends        *****/

/*****      Report Pages Css Starts        *****/

.report_page_s .form-group.m-form__group.row {
    display: block;
}
.report_page_s  .m-portlet.m-portlet--full-height {
    margin-bottom: 20px;
}
.row.report_r {
    padding: 10px 22px;
}
.report_page_s label.col-form-label.col-lg-3.col-sm-12 {
    color: #535358;
    font-family: 'OpenSans-Bold';
}
.report_page_s .col-6{
    margin: auto;
}
.report_page_s a.download_btn {
    padding: 8px 15px;
    color: #ffffff;
    background-color: #293c5e;
    border-radius: 5px;
    float: right;
    font-weight: 400;   
    margin-top: 23px;    
}
.report_page_s .input-group .input-group-append>.input-group-text{
    background-color: transparent;
    border-left: 0;
    cursor: pointer;
}
.report_page_s .la-calendar:before {
    content: "\f15c";
    color: #575962;
}
.report_page_s {
    margin-bottom: 25px;
}


.report_page_s .form-group.m-form__group.row {
    display: block;
    float: left;
}
.report_page_s .input-group.date {
    min-width: 245px;
}
.form-group.m-form__group.row.nw {
    padding-right: 30px;
}
.row.report_r .col-3{
    margin: auto;
}







/*****      Report Pages Css Ends        *****/

/*****      Service Group Pages Css Starts        *****/
.service_pages .m-portlet .m-portlet__head {
    border-bottom: 1px solid #ebedf2;
    padding: 20px 25px;
    height: 0;
}
.service_pages  .m-portlet .m-portlet__head .m-portlet__head-caption{
    padding: 0;
}
.service_pages .search {
    margin-right: 10px;
}
/*.service_pages .m-header-search__wrapper .search{
    width: auto;
}*/
.service_pages .m-header-search__form{
    width: auto;
    float: right;
}
.service_pages .add_new_CT_btn{
    display: inline-block;
}
.service_pages .m-header-search__wrapper {
    width:100%;
}
.table thead th{
    font-family: 'OpenSans-Bold';    
    color: #535358;
    padding: 25px;
}
.m-widget11 .table tbody>tr>td{ 
    color: #535358;
    padding: 25px;
}
th.th_h:first-child{
    width: 525px;
}
th.th_h:nth-child(2){
    width: 240px;
}
th.th_h:nth-child(3){
    width: 690px;
}
th.th_h:last-child{
    width: 140px;
}
/*****      Service Group Pages Css Ends        *****/


/*****      Service Management Pages Css Starts        *****/
.service_pages.s_mng th.th_h:first-child{
    width: 385px;
}
.service_pages.s_mng th.th_h:nth-child(2){
    width: 380px;
}
.service_pages.s_mng th.th_h:nth-child(3){
    width: 285px;
}
.service_pages.s_mng th.th_h:nth-child(4){
    width: 415px;
}
.service_pages.s_mng th.th_h:last-child{
    width: 140px;
}


/*****      Service Management Pages Css Ends        *****/


/*****      Service Task Pages Css Starts        *****/

.service_pages.s_task th.th_h:first-child{
    width: 325px;
}
.service_pages.s_task th.th_h:nth-child(2){
    width: 610px;
}
.service_pages.s_task th.th_h:nth-child(3){
    width: 265px;
}
.service_pages.s_task th.th_h:nth-child(4){
    width: 263px;
}
.service_pages.s_task th.th_h:last-child{
    width: 140px;
}

/*****      Service Task Pages Css Ends        *****/

/*****      Service Group Details Pages Css Starts        *****/

.service_pages.s_group_dtl .m-portlet .m-portlet__body {
    padding: 2.2rem 2.2rem;
}
.service_pages.s_group_dtl span.m-accordion__item-icon h5 {
    font-size: 14px;
    color: #535358;
    font-family: 'OpenSans-Bold';
}
.service_pages.s_group_dtl .m-accordion .m-accordion__item .m-accordion__item-head .m-accordion__item-title {
    color: #535358;
    font-size: 14px;
}
.service_pages.s_group_dtl .m-form__group.form-group label {
    font-size: 14px;
    color: #535358;
    font-family: 'OpenSans-Bold';
}
.service_pages.s_group_dtl .m-form__group.form-group p {
    color: #535358; 
}
.service_pages.s_group_dtl .accor_content {
    border-bottom: 1px solid #eeeff6;
    padding: 20px 0;
}
.service_pages.s_group_dtl .accor_content .l_s {
    display: inline-block;
    width: 35%;
    word-break: break-all;    
}
.service_pages.s_group_dtl .accor_content .r_s {
    display: inline-block;
    width: 63%;    
}
.service_pages.s_group_dtl .m-accordion .m-accordion__item .m-accordion__item-head .m-accordion__item-icon{
    width: 80%;
}
.service_pages.s_group_dtl .m-accordion .m-accordion__item .m-accordion__item-body .m-accordion__item-content {
    padding-top: 0;
    padding-bottom: 0;
}
.service_pages.s_group_dtl .m-accordion.m-accordion--bordered .m-accordion__item .m-accordion__item-head.collapsed, .service_pages.s_group_dtl .m-accordion.m-accordion--default .m-accordion__item .m-accordion__item-head.collapsed {
    background-color: #eaecf1;
}
.service_pages.s_group_dtl .m-accordion.m-accordion--bordered .m-accordion__item .m-accordion__item-head, .service_pages.s_group_dtl .m-accordion.m-accordion--bordered .m-accordion__item .m-accordion__item-head:hover, .service_pages.s_group_dtl .m-accordion.m-accordion--default .m-accordion__item .m-accordion__item-head, .service_pages.s_group_dtl .m-accordion.m-accordion--default .m-accordion__item .m-accordion__item-head:hover {
    background-color: #eaecf1;
}


/*****      Service Group Details Pages Css Ends        *****/


/*Filed search adding in the 3 pages*/

.auto_search_check .bs-searchbox{
    position: relative;
}
.auto_search_check .bs-searchbox:after {
    background-image: url(../images/search_icon.png);
    background-repeat: no-repeat;
    height: 20px;
    content: '';
    width: 20px;
    position: absolute;
    top: 22px;
    left: 25px;
    margin-right: 15px;
}
.auto_search_check .bs-searchbox .form-control {
    padding: 9px 30px;
}
.auto_search_check .bootstrap-select .dropdown-menu.inner>li>a span {
    vertical-align: middle;
}
.auto_search_check .bootstrap-select .dropdown-menu.inner>li>a span.bs-ok-default.check-mark{
    right: initial;
    border: 1px solid #eaecf1;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    position: relative;
    margin: 0;
    top: inherit;
    text-align: center;
    padding-top: 1px;
    display: inline-block;
}
.auto_search_check .bootstrap-select .dropdown-menu.inner>li>a  span.text{
    padding-left: 10px;
}

.auto_search_check .bootstrap-select .bs-ok-default:after{
    display: none;
}

/*****      HCA Management Add New Client Starts        *****/
.m-portlet__body.hca_dts {
    padding: 15px 0;
}
.hca_dts .row.m-0.box-content.edit_client_detail {
    padding-top: 0;
    padding-bottom: 0;
}
.edit_client_detail.hca_sec .m-portlet__head {
    padding: 20px 25px;
    height: 0;
}
.m-portlet.m-portlet--full-height.edit_client_detail.hca_sec {
    margin-bottom: 20px;
}
.m-portlet__body.hca_dts  .row.m-0.box-content.edit_client_detail{
    padding-bottom: 5px;
}
.hca_add_new_ct .edit_client_detail .box-content-1{
    width: 244px;
    margin-right: 10px;
}
.hca_add_new_ct .edit_client_detail .box-content-2{
    width: 244px; 
    margin-right: 10px;    
}
.hca_add_new_ct .edit_client_detail .box-content-3{
    width: 244px;  
    margin-right: 10px;    
}
.hca_add_new_ct .edit_client_detail .box-content-4{
    width: 244px;  
    margin-right: 10px;    
}
.hca_add_new_ct .edit_client_detail .box-content-5{
    width: 44px;  
    margin-right: 10px; 
    margin-left: 20px; 
}
.hca_add_new_ct .edit_client_detail .box-content-6{
    width: 195px;  
    margin-right: 10px; 
}
.hca_add_new_ct .edit_client_detail .box-content-7{
    width: 244px; 
    margin-right: 10px;    
}
.hca_add_new_ct .edit_client_detail .box-content-8{
    width: 308px;  
    margin-right: 10px;
}
.hca_add_new_ct label.m-radio.m-radio--brand{
    color: #535358;
    font-weight: 400;
}
.hca_add_new_ct input.form-control.m-input {
    margin-bottom: 10px;
}
.hca_add_new_ct  .input-group-append .input-group-text{
    margin-bottom: 10px;
}
.hca_add_new_ct #upload_link{
    text-decoration:none;
}
.hca_add_new_ct #upload{
    display:none
}
.hca_add_new_ct .upload_img_btn {
    padding: 10px 22px;
    background-color: #d8dfed;
    color: #293c5e;
    border-radius: 5px;
    font-weight: 400;
    display: inline-block;
}
.hca_add_new_ct .upload_s span{
    color: #535358;
    font-weight: 400;
    padding-right: 20px;
}
.hca_add_new_ct .upload_s {
    margin-bottom: 20px;
}
.alert.alert-dismissible.fade.show.m-alert.m-alert--outline.m-alert--air.hca_alt {
    background-color: #f4f6fa;
    color: #535358;
    padding: 7px;
    max-width: 475px;
    width: 100%;
}

.hca_dts .close:not(:disabled):not(.disabled) {
    padding: 0;
    top: 10px;
    right: 10px;
}
.hca_alt .alert .close:before {
    content: "ï†‘";
    color: #a2a5bf;
}
.hca_add_new_ct .error_msg {
    padding-bottom: 5px;
}
.hca_sec .save_btn {
    width: auto;
    float: right;
}
.hca_sec .hca_alt p {
    word-break: break-all;
    width: 95%;
}
/*****      HCA Management Add New Client Ends        *****/

/*****      HCA Management Edit Details Starts      *****/

.hca_edit_dts .edit_client_detail .box-content-9{
    width: 211px;  
    margin-right: 10px;
}
.hca_edit_dts .edit_client_detail .box-content-10{
    width: 244px;  
}
.hca_add_new_ct .m-portlet.m-portlet--full-height.client_tabel td {
    font-weight: 400;
}
.hca_add_new_ct table.table.client_managemnet_service td{
    font-weight: 400;
}
.m-portlet__body.client_tabs.hca_add_new_ct {
    position: relative;
}
.hca_add_new_ct a.all_new_cnt_btn {
    padding: 9px 17px;
    background-color: #293c5e;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
    float: right;
    position: absolute;
    right: 14px;
    top: 10px;
}

/*****      Login Page Css Starts       *****/
.m-grid__item.m-grid__item--fluid.m-grid.m-grid--center.m-grid--hor.m-grid__item--order-tablet-and-mobile-1.m-login__content.left_s {
    padding: 0;
    background-image: url(../images/login_bg.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    max-width: 605px;
}
.side_logo img {
    padding: 40px 0 0 40px;
    top: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
}
.login_page .m-login.m-login--1 .m-login__wrapper .m-login__head h3.m-login__title   {
    font-family: 'OpenSans-Bold';
    color: #535358;
}
.login_page .m-login.m-login--1 .m-login__wrapper .m-login__form {
    margin-top: 3rem;
}
.m-grid__item.m-grid__item--order-tablet-and-mobile-2.m-login__aside.right_s {
    max-width: 400px;
    padding: 0;
    margin: auto;
}
.login_page .m-login.m-login--1 .m-login__wrapper {
    padding: 0;
}
.login_page .m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control{
    border: 1px solid #eaecf1;
    padding: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #959cb5;
        font-family: 'OpenSans-SemiBold';
}
.login_page .m-link {
    color: #959cb5;
    border-bottom: 1px solid #d5d7e0;
    font-family: 'OpenSans-SemiBold';
}
.login_page .m-login.m-login--1 .m-login__wrapper .m-login__form .m-login__form-action .btn {
    width: 100%;
    border-radius: 5px;
    background-color: #2d3e5d;
    border: none;
    box-shadow: none !important;
    font-family: 'OpenSans-SemiBold';
    padding: 10px;    
}
.login_page .m-login.m-login--1 .m-login__wrapper .m-login__form .m-login__form-sub .m-checkbox {
    font-size: 1rem;
    font-family: 'OpenSans-Bold';
}
.login_page .m-checkbox.m-checkbox--focus>span {
    border: 1px solid #eaecf1;
}
.login_page .m-checkbox.m-checkbox--focus>input:checked~span {
    border: 1px solid #eaecf1;
}
.login_page .m-checkbox.m-checkbox--focus>span:after {
    border: solid #2d3e5d;
}
.login_page .m-login.m-login--1 .m-login__wrapper .m-login__form .m-login__form-action {
    margin: 1rem 0 3rem 0;
}
/*****      Login Page Css Ends       *****/

/*****      Forget Password  Page Css Starts       *****/
.login_page .m-login.m-login--1.m-login--signin .m-login__forget-password{
    display: block;
}




/*****      Forget Password  Page Css Ends       *****/


/*****      HCA Management Edit Details Ends      *****/
@media (max-width: 1600px){
    .service_pages .m-header-search__wrapper .search {width: auto;}
}

@media (max-width: 1399px){
    .hca_sec .hca_dts .col-4 {flex: 0 0 50%;max-width: 50%;}
}

@media (max-width: 1024px){
    .m-grid__item.m-grid__item--fluid.m-grid.m-grid--center.m-grid--hor.m-grid__item--order-tablet-and-mobile-1.m-login__content.left_s{max-width: inherit;background-position: 100% 32%;}
    .login_page .m-login.m-login--1 .m-login__wrapper {padding: 3rem;}
}

@media (max-width: 991px){
    .service_pages .m-portlet.m-portlet--full-height{margin-bottom: 25px;}
}

@media (max-width: 767px){
    .service_pages .m-header-search__form {height: auto;padding: 10px 0;width: 100%;text-align: center;}

    .row.report_r .col-3 {flex: 0 0 100%;max-width: 100%;}
    .row.report_r .col-6 {flex: 0 0 100%;max-width: 100%;text-align: center;}    
    .report_page_s a.download_btn{margin-top:0;}

    .hca_sec .hca_dts .col-4 {flex: 0 0 100%;max-width: 100%;}
}

@media(max-width: 575px){
    .m-grid__item.m-grid__item--fluid.m-grid.m-grid--center.m-grid--hor.m-grid__item--order-tablet-and-mobile-1.m-login__content.left_s{max-height: 30%;}
    .m-grid__item.m-grid__item--order-tablet-and-mobile-2.m-login__aside.right_s{margin: 0 auto;}
}


@media (max-width: 479px){
    .service_pages .m-header-search__wrapper .search {margin-bottom: 20px;display: block;}
    .service_pages .m-portlet .m-portlet__head{text-align: center;}
    .service_pages .m-header-search__wrapper {width: auto;display: block;margin: auto;}
    .service_pages .m-portlet .m-portlet__head .m-portlet__head-caption{display: inline-block;padding: 10px 0;}
    .service_pages.s_group_dtl .m-portlet .m-portlet__body {padding: 1rem 1rem;}
    .service_pages.s_group_dtl .m-accordion .m-accordion__item .m-accordion__item-head {padding: 1rem 1rem;}
    .service_pages.s_group_dtl .m-accordion .m-accordion__item .m-accordion__item-body .m-accordion__item-content{padding: 0rem 1rem;}
    .setting_page_s .m-widget11.ct_block_tm {padding-bottom: 10px;}
    .setting_page_s label.col-form-label.lf_s {width: 50%;}
    .setting_page_s span.m-form__help.lf_s {width: 50%;}
    .setting_page_s .m-widget11 {padding: 0 10px;}
    .setting_page_s .m-body .m-content.page_contant {padding: 25px 10px 30px 10px;}
    .m-content.page_contant.service_pages {padding: 15px;}
    .report_page_s .m-portlet.dashboard_table .m-portlet__head{height: 0;}
    .report_page_s .m-portlet .m-portlet__head .m-portlet__head-caption{padding: 10px 0;}
    .m-content.page_contant.report_page_s {padding: 15px;}    
    
    .login_page .m-login.m-login--1 .m-login__wrapper {padding: 15px;}
    .login_page .m-login.m-login--1 .m-login__wrapper .m-login__form {margin-top: 15px;}
    .m-grid__item.m-grid__item--fluid.m-grid.m-grid--center.m-grid--hor.m-grid__item--order-tablet-and-mobile-1.m-login__content.left_s {background-position: 100% 35%;max-height: 30%;}
} 

